@import "tailwindcss";

body {
  background-color: rgb(27, 29, 50);
  color: #fff;
  scroll-behavior: smooth;
}

.main-padding {
  @apply px-5 lg:px-[100px] xl:px-[200px];
}

.btn_blue {
  @apply bg-blue-500 px-4 py-2 text-white;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

