@import "tailwindcss";

body {
  background-color: rgb(27, 29, 50);
  color: #fff;
  scroll-behavior: smooth;
}

.main-padding {
  @apply mx-auto px-5 sm:px-6 lg:px-12 max-w-7xl;
}

.btn_blue {
  @apply bg-blue-500 px-4 py-2 text-white;
}

.btn_light_blue {
  @apply bg-[#00A19D] px-4 py-2 text-white rounded-md;
}

@layer utilities {
  .word-spacing-custom {
    word-spacing: 0.1em;
  }
  .frosted-glass {
    background: linear-gradient(
        139.63deg,
        rgba(255, 255, 255, 0.05) 1.7%,
        rgba(0, 0, 0, 0) 97.81%
      ),
      rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }
  .bg-gradient-image {
    background-image: linear-gradient(0deg, #00a19d, #00a19d);
    background-size: cover;
    background-position: center;
  }
  .project-gradient {
    background: linear-gradient(
      100.19deg,
      #832d6c 15.58%,
      #ab5895 71.69%,
      #d079b9 100%
    );
  }
  .mob-project {
    background: linear-gradient(
      278.22deg,
      rgb(243, 98, 108) 0%,
      rgb(199, 30, 79) 102.4%
    );
    backdrop-filter: blur(200px);
  }
  .web-project {
    background: rgb(94, 6, 207);
    backdrop-filter: blur(200px);
    visibility: visible;
  }
  .brand-bg {
    background: linear-gradient(
      278.22deg,
      rgb(72, 85, 99) 0%,
      rgb(41, 50, 60) 102.4%
    );
    backdrop-filter: blur(200px);
    visibility: visible;
  }
  .uiux-bg {
    background: linear-gradient(
      278.4deg,
      rgb(112, 225, 245) -45.12%,
      rgb(237, 138, 8) 102.4%
    );
    backdrop-filter: blur(200px);
    visibility: visible;
  }
  .ecommerce-bg {
    background: linear-gradient(285.94deg, #fb0d6ae3 -4.32%, #f28400bd 104.73%);
  }
  .card-bg {
    background: linear-gradient(
        139.63deg,
        rgba(255, 255, 255, 0.05) 1.7%,
        rgba(0, 0, 0, 0) 97.81%
      ),
      rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
  }
  .tab-bg-1 {
    background: linear-gradient(
      143.28deg,
      rgb(131, 45, 108) 28.78%,
      rgb(208, 121, 185) 76.71%
    );
  }
  .tab-bg-2 {
    background: linear-gradient(322.76deg, #f3626c 23.51%, #c71e4f 80.32%);
    padding: 30px;
    backdrop-filter: blur(200px);
  }
  .tab-bg-3 {
    background: linear-gradient(
      278.4deg,
      rgb(112, 225, 245) -45.12%,
      rgb(237, 138, 8) 102.4%
    );
    backdrop-filter: blur(200px);
    visibility: visible;
  }
  .tab-bg-4 {
    background: linear-gradient(99.64deg, #5e06cf 0%, #954bf4 100.82%);
    padding: 30px;
    backdrop-filter: blur(200px);
  }

  .PhoneInputCountryIcon {
    display: none !important;
  }
  .PhoneInputCountry {
    padding-left: 0 !important;
  }
}
