@import "tailwindcss";

body {
  background-color: rgb(27, 29, 50);
  color: #fff;
  scroll-behavior: smooth;
}

.main-padding {
  @apply px-5 lg:px-[50px] xl:px-[100px] 2xl:px-[200px];
}

.btn_blue {
  @apply bg-blue-500 px-4 py-2 text-white;
}

@layer utilities {
  .word-spacing-custom {
    word-spacing: 0.1em;
  }
}


